<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.blogspot.mvnblogbuild.fingernotes">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <application android:icon="@drawable/logo" android:label="@string/app_name" android:theme="@style/AppTheme">
        <receiver android:name=".service.FNStartupIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.FingerNotesServiceReceiver" android:process=":remote"/>
        <provider android:authorities="com.blogspot.mvnblogbuild.FingerNotesProvider" android:exported="true" android:name=".service.FingerNotesProvider"/>
        <activity android:label="@string/title_activity_menu" android:launchMode="singleTask" android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_paint" android:name=".PaintActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_view_notes" android:name=".ViewNotesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_settings" android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_newmode" android:name=".EditSaveActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="com.blogspot.mvnblogbuild.fingernotes.service.FingerNotesService"/>
    </application>
</manifest>