<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.picvision.seaweedweather">
    <application android:icon="@drawable/logo" android:label="@string/app_name" android:name=".utils.CoreLib">
        <activity android:label="@string/app_name" android:name=".main" android:screenOrientation="portrait" android:theme="@style/Theme_NoTitle_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".utils.SMSReceiver">
            <intent-filter>
                <action android:name="SEND_INFOR"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".WeatherWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/weather_info"/>
        </receiver>
        <service android:name=".service.ForecastTimeService"/>
        <meta-data android:name="PVMobAd_App_Key" android:value="8gO0VlgyiNK1HJb5pFeP"/>
        <activity android:name="ShowImageActivity" android:theme="@style/Theme.Translucent"/>
        <activity android:name="SpActivity" android:screenOrientation="portrait" android:theme="@style/Theme_NoTitle_FullScreen"/>
        <activity android:name="addWidgetCity" android:theme="@style/Theme.Translucent"/>
        <activity android:name="setCityInWidget" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name="widgetThemeSelector" android:theme="@android:style/Theme.Dialog"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <instrumentation android:label="Test for my app" android:name="android.test.InstrumentationTestRunner" android:targetPackage="com.picvision.seaweedweather"/>
</manifest>