<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.eaglerex.mcpemodificator">
    <supports-screens android:largeScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:icon="@drawable/new_icon" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity"/>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.splash" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAINACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.modsshow" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODSSHOW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.skins" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.SKINS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Help" android:name="com.eaglerex.mcpemodificator.help" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.HELP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="How To Install Mods" android:name="com.eaglerex.mcpemodificator.installmods" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.INSTALLMODS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="How To Install Maps" android:name="com.eaglerex.mcpemodificator.installmaps" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.INSTALLMAPS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Mods" android:name="com.eaglerex.mcpemodificator.modsbrowse" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODSBROWSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Maps" android:name="com.eaglerex.mcpemodificator.mapsbrowse" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPSBROWSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Contact Me" android:name="com.eaglerex.mcpemodificator.contactme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.CONTACTME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Send Map" android:name="com.eaglerex.mcpemodificator.sendmap" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.SENDMAP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Send Mod" android:name="com.eaglerex.mcpemodificator.sendmod" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.SENDMOD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Send Mod" android:name="com.eaglerex.mcpemodificator.seedsall" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.SEEDSALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="All Mods" android:name="com.eaglerex.mcpemodificator.modsall" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODSALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Mod Creators" android:name="com.eaglerex.mcpemodificator.modcreators" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODCREATORS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="All Maps" android:name="com.eaglerex.mcpemodificator.mapsall" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPSALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Map Creators" android:name="com.eaglerex.mcpemodificator.mapcreators" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCREATORS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Maps By Category" android:name="com.eaglerex.mcpemodificator.mapscategory" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPSCATEGORY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="New This Week" android:name="com.eaglerex.mcpemodificator.newthisweekmap" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.NEWTHISWEEKMAP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="New This Week" android:name="com.eaglerex.mcpemodificator.newthisweekmod" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.NEWTHISWEEKMOD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.modeaglerex" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODEAGLEREX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.modscaryend" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODSCARYEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.modmattdave" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODMATTDAVE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.modcactigod" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODCACTIGOD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.moddenso" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODDENSO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.modmetamorposis" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODMETAMORPOSIS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.modsinop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MODSINOP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapeaglerex" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPEAGLEREX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapcoolghetto" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCOOLGHETTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapkenneth" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPKENNETH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapchinesehorse" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCHINESEHORSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapbadass" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPBADASS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapgonzo" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPGONZO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapsteffen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPSTEFFEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapmcmandoesminecraft" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPMCMANDOESMINECRAFT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapnore" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPNORE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapcatparkour" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCATPARKOUR"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapcatroller" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCATROLLER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapcatbuild" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCATBUILD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapcatpvp" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCATPVP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapcatsurvival" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCATSURVIVAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapcatadv" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCATADV"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.eaglerex.mcpemodificator.mapcatminigames" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.eaglerex.mcpemodificator.MAPCATMINIGAMES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>