<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.g_oku.intruderdetection">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:configChanges="orientation|screenSize" android:label="@string/app_name" android:name="org.g_oku.intruderdetection.IntruderDetectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="org.g_oku.intruderdetection.WatchService"/>
        <receiver android:name="org.g_oku.intruderdetection.PresentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="orientation|screenSize" android:name="org.g_oku.intruderdetection.IntruderDetectionPreference" android:parentActivityName="org.g_oku.intruderdetection.IntruderDetectionActivity"/>
        <activity android:configChanges="orientation|screenSize" android:name="org.g_oku.intruderdetection.MyGalleryActivity" android:parentActivityName="org.g_oku.intruderdetection.IntruderDetectionActivity"/>
    </application>
</manifest>