@import url(http://fonts.googleapis.com/css?family=Noticia+Text);


/*******Sencha CSS Base Override****/
.x-list-container .x-list-item .x-list-header
{
    background:#7c9cbe;
    border-top: 1px solid #4772a1;
    border-bottom: 1px solid #4772a1;
    color:#fff
}


.x-list-container .x-list-item .x-item-pressed
{
   background-image: linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -o-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -moz-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -ms-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%); 
}

.x-toolbar-dark .x-button, .x-toolbar-dark .x-button.x-button-back::after, .x-toolbar-dark .x-button.x-button-forward::after, .x-toolbar .x-toolbar-dark .x-button, .x-toolbar .x-toolbar-dark .x-button.x-button-back::after, .x-toolbar .x-toolbar-dark .x-button.x-button-forward::after, .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar-dark .x-field-select .x-component-outer.x-button-back::after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-forward::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-back::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-forward::after, .x-toolbar-dark .x-field-select .x-component-outer::before, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-back::after, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-forward::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-back::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-forward::after {

   background-image: linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);
background-image: -o-linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);
background-image: -moz-linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);
background-image: -ms-linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.16, rgb(61,109,160)),
	color-stop(0.58, rgb(96,143,193)),
	color-stop(0.79, rgb(61,109,160))
); 
}

.x-button-icon.addContact,
.x-button .x-button-icon.x-icon-mask.addContact
{-webkit-mask-image:url('appImages/addcontact.png');
}

.x-button-icon.email,
.x-button .x-button-icon.x-icon-mask.email
{-webkit-mask-image:url('appImages/email.png');
}

.x-button-icon.phone,
.x-button .x-button-icon.x-icon-mask.phone
{-webkit-mask-image:url('appImages/phone.png');
}

/**********Quick Reference Styling***********//
.catSection{
    padding:5px; 
    border-radius:5px;
    border:1px solid #000;
    font-size:14px;
    background-color:#ffffff;
    text-align:justify
}

.catSection p
{margin-bottom:10px;}

.catSection ol
{
   border-radius:10px;
    border:5px #fff8dd solid;
    background-image: linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -o-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -moz-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -ms-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
   margin-left:25px;
   margin-top:10px;
    margin-bottom:10px;
    background:#fff8dd
}

.catSection ol li
{
    list-style-type:circle;
    margin-top:3px;
}

.catSection ul
{
   border-radius:10px;
    border:5px #fff8dd solid;
    background-image: linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -o-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -moz-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -ms-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
   margin-left:20px;
   margin-top:10px;
    margin-bottom:10px;
    background:#fff8dd
}
.catSection li
{
    list-style-type:circle;
    margin-top:3px;
}

.catSection h1{
    font-family: 'Noticia Text';
    font-variant: small-caps; 
    font-size:30px;
    font-weight:bold;
    margin-bottom:5px;
    margin-top:5px;
    text-align:left;
}

.catSection h2{
font-size:20px;
    font-weight:bold;
    margin-bottom:5px;
    margin-top:5px;
    text-align:left;
}

.catSection h3{
font-size:16px;
    font-weight:bold;
    margin-bottom:5px;
    margin-top:5px;
    text-align:left;
}

/******APPLICATION CUSTOM STYLING****/

.mainButton
{
    height:75px;
    border-radius:0px;
    background: transparent;
    border:none;
    background: url('appImages/buttonBG.png');
    border-bottom:1px #305182 solid
    
}

#btnRefreshAppData
{background: url('appImages/buttonBG.png');}



#ext-tabbar-1
{
    background: #7c9cbe;
}

#ext-tabbar-1 .x-tab
{
    color:#273b55
}

#ext-tabbar-1 .x-tab-active
{
    color:#fff;
    background-image: linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);
background-image: -o-linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);
background-image: -moz-linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);
background-image: -ms-linear-gradient(bottom, rgb(61,109,160) 16%, rgb(96,143,193) 58%, rgb(61,109,160) 79%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.16, rgb(61,109,160)),
	color-stop(0.58, rgb(96,143,193)),
	color-stop(0.79, rgb(61,109,160))
);
}

.mainButton.x-button-pressing
{
    background-image: linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -o-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -moz-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -ms-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
}

h1.mainButtonHeader
{
       color:#fff;
    font-family: 'Noticia Text';
    font-variant: small-caps; 
    text-align:left;
    font-size:25px;
    margin-top:15px;
    
}

span.mainButtonSubtext
{
    font-size:13px;
    color:#fff;
    font-family:Arial
}

.mainNavigationBar
{
    background: #fff url('appImages/logo.png');
    background-position:right;
    background-repeat: no-repeat;
    height:75px;
    border-bottom:none;
    
}


.whiteBG
{
    background:#fff 
}
#weatherConditions
{
    height:55px;
}


/*******Zone Coordinator Listing Styling***********/
.redHeader
{
    color:#33578b;
    font-family: 'Noticia Text';
    font-variant: small-caps; 
    text-align:left;
    font-size:18px;
}

.subTextGray
{
    color:#7c7a7a;
    font-family: 'Noticia Text';
    font-variant: small-caps; 
    text-align:left;
    font-size:14px
}

#divZoneCoordinatorDetail
{
    border-radius:10px;
    border:5px #fff8dd solid;
    background-image: linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -o-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -moz-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);
background-image: -ms-linear-gradient(bottom, rgb(239,227,198) 25%, rgb(255,248,221) 63%, rgb(255,248,221) 82%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(239,227,198)),
	color-stop(0.63, rgb(255,248,221)),
	color-stop(0.82, rgb(255,248,221))
);
    height:35%;
    width:95%;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Noticia Text';
}

#divZoneCoordinatorDetail > h1
{
    font-size:25px;
    color:#ecd7ae;
}

#divZoneCoordinatorDetail > span
{
    font-size:15px
}

.detailButtonContainer
{
    height:75px;
    width:95%;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Noticia Text';
    margin-top:5px;
}

.redButton
{
    height:50px;
    width:50px;
    background: #152b4b url('appImages/buttonContainerBG.gif');
    border-radius: 10px;
}

.redButton .x-button-icon.x-icon-mask, .x-toolbar .x-button .x-button-icon.x-icon-mask {
background-image: none;
background-color: white;

}

.mainIcon
{float:left; margin:2px;height:65px; width:65px; margin-top:3px; margin-right:15px}

#zoneMap{width:320px; height:480px; margin-left:auto; margin-right}







